<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.riderapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_bike"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="NltAKQ2GaWmBagQy9um21W6B" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegistActivity"
            android:label="@string/back" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/back" >
        </activity>
        <activity
            android:name=".activity.ArticalDetialActivity"
            android:label="@string/back" >
        </activity>
        <activity
            android:name=".activity.ActivityDetialActivity"
            android:label="@string/back" >
        </activity>
        <activity
            android:name=".activity.MyArticalActivity"
            android:label="@string/back" >
        </activity>
        <activity
            android:name=".activity.MyActivityActivity"
            android:label="@string/back" >
        </activity>
        <activity
            android:name=".activity.MySettingActivity"
            android:label="@string/back" >
        </activity>
        <activity
            android:name=".activity.CreateArticalActivity"
            android:label="@string/back" >
        </activity>
        <activity
            android:name=".activity.CreateActivityActivity"
            android:label="@string/back" >
        </activity>
        <activity
            android:name=".activity.TeamMapActivity"
            android:label="@string/back" >
        </activity>
    </application>

</manifest>